---
# traefik configuration

## general
accessLog: {}
log:
  level: {{ traefik_log_level }}
  filePath: "{{ traefik_log_file }}"

api:
  insecure: {{ traefik_api_insecure }}
  dashboard: {{ traefik_api_dashboard }}

## static
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entrypoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt-resolver
        domains:
          - main: {{ traefik_domain_plex }}
          - main: {{ traefik_domain_synclounge }}

## resolvers
certificatesResolvers:
  letsencrypt-resolver:
    acme:
      email: {{ traefik_acme_email }}
      storage: {{ traefik_acme_file }}
      httpChallenge:
        entryPoint: web

## dynamic
providers:
  file:
    filename: "/etc/traefik/dynamic.yaml"
